.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    
  }
.contact h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: normal;
    font-weight: 500;
}

.data{
    width: 335px;
    height: 29px;
    position: relative;
    
}

.data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 12px;
    border-bottom: 2px solid  #0716296c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.data input:focus~label, .data input:valid~label{
    transform: translateY(-20px);
    font-size: 15px;
    color: #071629;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #071629;
    pointer-events: none;
    transition: all 0.3s ease;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button{
    width: 162px;
    height: 44px;
    border: solid 1px #FF6565;
    border-radius: 22px;
    color: #FFFFFF;
    background-color: #FF6565;
    margin-bottom: 40px;
}

button:hover{
    opacity: 0.9;
}