.wedo{
    text-align: center;
    margin-bottom: 97px;
}

.wedo h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin-top: 100px;
}

.wedo h2{
    position: absolute;
    top: -13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wedo h2 span{
    display: inline-block;
    opacity: 0;
    transform: translate(-155px, 0) scale(0, 4);
    animation: aminate .5s forwards;

}

.wedo h2 span:nth-of-type(2){
    animation-delay: 1ms;
}

.wedo h2 span:nth-of-type(3){
    animation-delay: 1.5ms;
}

.wedo h2 span:nth-of-type(4){
    animation-delay: 2ms;
}

@keyframes aminate{
    40%{
        transform: translate(50px, 0);
        opacity: 1;
    }
    80%{
        transform: translate(0) scale(2);
        opacity: 0;
    }

    100%{
        transform: translate(0) scale(1);
        opacity: 1;
    }
}


.wedo p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 40px;
    margin-bottom: 0px;
    
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 60px;
    margin-bottom: 110px;

}


.gees img:hover{
    width: 95px;
    height: 66px;
    transform: scale(1.3);
    z-index: 1;

}




.gees h4{
    font-size: 18px;
    font-weight: normal;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.gees p{
    font-size: 14px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.geev img:hover{
    width: 68px;
    height: 77px;
    transform: scale(1.3);
    z-index: 2;

}


.geev h4{
    font-size: 18px;
    font-weight: normal;
    font-weight: 600;
    margin-top: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.geev p{
    font-size: 14px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.geem img:hover{
    width: 52px;
    height: 58px;
    transform: scale(1.3);
    z-index: 3;

}


.geem h4{
    font-size: 18px;
    font-weight: normal;
    font-weight: 600;
    margin-top: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.geem p{
    font-size: 14px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.geeh img:hover{
    width: 62px;
    height: 62px;
    transform: scale(1.3);
    z-index: 4;

}



.geeh h4{
    font-size: 18px;
    font-weight: normal;
    font-weight: 600;
    margin-top: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.geeh p{
    font-size: 14px;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* <!-- ----------Our Results ------------ --> */
.bg{
    width:1348px ;
    height: 650px;
    background-image: url(./img/headphones_hero_2.jpg);
    background-repeat: no-repeat;
    margin: -8px;
}

.our{
    display: flex;
    flex-direction: column;
    text-align: center;
        
}

.our h2{
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 32px;
    margin-top: 160px;
    margin-bottom: 30px;
}


.our h2{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our h2 span{
    display: inline-block;
    opacity: 0;
    transform: translate(-155px, 0) scale(0, 4);
    animation: aminate .5s forwards;

}

.our h2 span:nth-of-type(2){
    animation-delay: 1ms;
}

.our h2 span:nth-of-type(3){
    animation-delay: 1.5ms;
}

.our h2 span:nth-of-type(4){
    animation-delay: 2ms;
}

.our h2 span:nth-of-type(4){
    animation-delay: 2.5ms;
}

.our h2 span:nth-of-type(4){
    animation-delay: 4.5ms;
}

@keyframes aminate{
    40%{
        transform: translate(50px, 0);
        opacity: 1;
    }
    80%{
        transform: translate(0) scale(2);
        opacity: 0;
    }

    100%{
        transform: translate(0) scale(1);
        opacity: 1;
    }
}

.our p{
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 70px;
}

.shape{
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 50px;
    justify-content: center;
    margin-left: 80px;
    margin-top: 60px;

    
}

.shape img{
    width: 180px;
    height: 180px;
}

.shape h1{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 46px; 
    position: absolute;
    left: 45px;
    margin-top: 55px;
    margin-bottom: 0px;
    z-index: 1;
}

.shape p{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    font-size: 14px;  
    margin-top: 120px;
    position: absolute;
    left: 45px;   
    
}

.da{
    margin-left: 160px;
   
  }

.daa{
  margin-left: 450px;
 
}
.daaa{
    margin-left: 730px;

    
}
.daaaa{
    margin-left: 1010px;
}

.ga{
    margin-left: 160px;
   
  }


.gaa{
    margin-left: 440px;
   
  }
  .gaaa{
    margin-left: 720px;
  
      
  }
  .gaaaa{
      margin-left: 1000px;
  }
