body{
    background-color: aqua;
    display: flexbox;
    flex-direction: column;
}

main{
    display: flexbox;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
    font-family: 'Times New Roman', Times, serif;
    color: brown;

}

aside{
    flex: 1;
    overflow-y: auto;

}
